{% extends 'proStageTemplate.html.twig' %}


{% block titre %}{{parent()}}Formation : Ajouter{% endblock %}

{% block titrePage %}
Créer une nouvelle formation
{% endblock %}

{% block contenuPage %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste des formations</a>
{% endblock %}
