{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Stages{% endblock %}


{% block titrePage %}
<h2>Ajouter une entreprise : </h2>
{% endblock %}

{% block contenuPage %}
{{ form(vueFormulaire) }}
{% endblock %}
