{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Formations{% endblock %}

{% block body %}
{{parent()}}
<h2>Cette page affichera la liste des formations de l'IUT</h2>

{% endblock %}
