{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Formations{% endblock %}


{% block titrePage %}
<h2>Les formations de l'IUT</h2>
{% endblock %}

{% block contenuPage %}
<p>blablablablablablab</p>
{% endblock %}
