{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Stages{% endblock %}

{% block body %}
{{parent()}}
<h2>Cette page affichera le descriptif du stage ayant pour identifiant {{idRessources}}</h2>

{% endblock %}
